{% extends "header.html" %} {% block app_content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><i class="fa fa-thumbs-up"></i> Live assessment</h1>
    </div>
  </div>
  <hr>

  <a href="{{url_for('live-assessment.create_live_assessment')}}"><button class="btn btn-lg btn-outline-success mb-3"><i class="fa fa-plus-circle"></i> New live assessment</button></a>
  
  <h5>Checking your essay for mistakes can take some time.</h5>
  <h5>Please only click once.</h5>

</div>
{% endblock %}