{% extends "header.html" %}
{% block app_content %}
{% from 'bootstrap/form.html' import render_field %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><i class="fa fa-tasks"></i> Live assessment</h1>
    </div>
  </div>
  <hr>

  {% if current_user.is_admin %}

  <!-- New assignment creation modal -->
  <div class="modal fade" id="createNewLiveAssessmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1 class="display-5"><i class="fa fa-tasks"></i> New live assessment</h1>
          <hr class="my-4">

          <form method="post" action="{{url_for('live-assessment.create_live_assessment')}}"
            enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ render_field(form.title) }}
            {{ render_field(form.description) }}
            {{ render_field(form.peer_review_form_id) }}
            {{ render_field(form.target_turma) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {{ render_field(form.create_live_assessment_form_submit, button_style="success") }}
          </form>
        </div>
      </div>
    </div>
  </div>

  <a href="#"><button class="btn btn-outline-success mb-3" data-toggle="modal"
      data-target="#createNewLiveAssessmentModal"><i class="fa fa-plus-circle"></i> New live assessment</button></a>
    <a href="{{url_for('live-assessment.assessment_form_admin')}}"><button class="btn btn-outline-primary mb-3"><i class="fa fa-tasks"></i> Manage assessment forms</button></a>
  {% if live_assessments|length == 0 %}
  <div class="jumbotron">
    <h1 class="display-4 text-center">Introducing live assessment!</h1>
    <p class="lead text-center">Live examination, directly on WorkUp.
    </p>
    <hr class="my-4 text-center">
    <p>You can give your class custom online examinations, using the live assessments feature.</p>
    <p>Simply design a test using the form builder, and you can immediately roll it out as a live examination.</p>
  </div>
  {% endif %}

  {% for assessment in live_assessments %}
  <div class="card mb-2" style="width: 18rem;">
    <div class="card-header">
      {{assessment.turma.turma_label}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{assessment.title}}</h5>
      <p class="card-text">{{assessment.description}}</p>
      {% if assessment.is_open %}
      <a href="{{url_for('live-assessment.toggle_live_assessment_status', live_assessment_id = assessment.id)}}"
        class="btn btn-info">End</a>
      {% else %}
      <a href="{{url_for('live-assessment.toggle_live_assessment_status', live_assessment_id = assessment.id)}}"
        class="btn btn-success">Start</a>
      {% endif %}
      <a href="{{url_for('live-assessment.view_assessment_submissions', live_assessment_id = assessment.id)}}"
        class="btn btn-outline-primary">View submissions</a>
    </div>
  </div>
  {% endfor %}

</div>

<!-- Student view-->
{% else %}

{% if live_assessments|length == 0 %}
<div class="jumbotron">
  <h1 class="display-4 text-center">Introducing live assessment!</h1>
  <p class="lead text-center">Live examination, directly on WorkUp.
  </p>
  <hr class="my-4 text-center">
  <p>You currently do not have any online tests that you can do.</p>
</div>
{% else %}
{% for assessment in live_assessments %}
<div class="card mb-2" style="width: 18rem;">
  <div class="card-header">
    {{assessment.turma.turma_label}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{assessment.title}}</h5>
    <p class="card-text">{{assessment.description}}</p>
  </div>
  <div class="card-footer">
    {% if assessment.completed != none %}
    <a href="{{url_for('live-assessment.view_completed_submission', submission_id = assessment.completed.id)}}"
      class="btn btn-outline-info">View your test</a>
    {% else %}
    {% if assessment.is_open == True %}
    <a href="{{url_for('live-assessment.submit_live_assessment', live_assessment_id = assessment.id)}}"
      class="btn btn-outline-success">Start your test</a>
    {% else %}
    <p>This assessment is not open yet.</p>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endfor %}
{% endif %}

{% endif %}
{% endblock %}