{% extends "header.html" %} {% block app_content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><i class="fa fa-thumbs-up"></i> Live assessment</h1>
    </div>
  </div>
  <hr>

  <a href="{{url_for('live-assessment.create_live_assessment')}}"><button class="btn btn-lg btn-outline-success mb-3"><i class="fa fa-plus-circle"></i> New live assessment</button></a>
  
  {% for assessment in live_assessments %}
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      {{assessment.turma.turma_label}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{assessment.title}}</h5>
      <p class="card-text">{{assessment.description}}</p>
      <a href="#" class="btn btn-info">Start</a>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}