 {% extends "header.html" %} {% from 'bootstrap/form.html' import render_form %} {% block app_content %}
<div class="container">
 <h1><i class="fa fa-tasks mr-2"></i>Assessment forms</h1>
 <hr>

 <a href="{{url_for('live-assessment.add_assessment_form')}}"><button class="btn btn-outline-success"><i
             class="fa fa-plus-circle"></i> New assessment form</button></a>
 <div class="row">
     <div class="col-md-8">
         <br>
         {% for form in forms %}
         <div class="card bg-light mb-3">
             <div class="card-body">

                 <div class="container">
                     <div class="row">
                         <div class="col-10">
                             <h3 class="text"><strong>{{form.title}}</strong></h3>
                             <ul class="list-inline">
                                 <li class="list-inline-item"><i class="fa fa-calendar-check" aria-hidden="true"></i>
                                     Created {{form.timestamp.strftime('%b %d %Y')}}</li>
                                 <li class="list-inline-item"><i class="fa fa-user" aria-hidden="true"></i> Created by
                                     {{form.user.username}}</li>
                             </ul>
                             <em>{{form.description}}</em>
                         </div>
                     </div>
                 </div>

             </div>
             <div class="card-footer float-right">
                 <a href="{{url_for('live-assessment.render_assessment_form', form_id = form.id)}}"><button
                     class="btn btn-sm btn-outline-primary "><i class="fa fa-glasses"></i> Preview form</button></a>
                 <a href="{{url_for('assignments.delete_peer_review_form', form_id = form.id)}}"><button
                     class="btn btn-sm btn-outline-danger float-right"><i class="fa fa-trash-alt"></i> Delete
                     </button></a>
             </div>
         </div>

         {% endfor %}

     </div>
 </div>
 </div>
 {% endblock %}