{% extends "header.html" %} {% block app_content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><i class="fa fa-tasks mr-2"></i>Live assessment submissions</h1>
            <hr>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body">
            <h3>{{info_array.assessment_object.title}}</h3>
            <h5>{{info_array.assessment_object.description}}</h5>
        </div>
        <div class="card-footer">
            <a href="{{url_for('live-assessment.view_assessment_summary', live_assessment_id = info_array.assessment_object.id)}}"><button class="btn btn-outline-info"><i class="fa fa-star-half-alt mr-2"></i>View grade analysis</button></a>
        </div>
    </div>

    <link rel="stylesheet" href="/static/css/form-control-borderless.css">
    <div class="row justify-content-left mb-2">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body">
                        </i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search"
                            placeholder="Search for students or uploads">
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>


    <div class="table-responsive no-more-tables">
        <table summary="Student uploads for this task"
            class="table table-responsive table-striped table-bordered table-hover table-sm">
            <thead class="thead">
                <tr>
                    <th><i class="fa fa-id-card-alt"></i></th>
                    <th><i class="fa fa-signature"></i></th>
                    <th><i class="fa fa-clock"></i></th>
                    <th><i class="fa fa-tools"></i></th>
                </tr>
            </thead>
            <tbody id="searchableTable">
                {% for submission in info_array.submissions %}
            
                <tr data-status="not-uploaded">
                    
                    <td><strong>{{submission.student.student_number}}</strong>
                    </td>
                    <td><strong>{{submission.student.username}}</strong>
                    </td>
                    <td>{{submission.timestamp.strftime('%d %b %H:%M:%S')}}
                    </td>
                    <td>
                      <a href="{{url_for('live-assessment.view_completed_submission', submission_id = submission.id)}}"><button class="btn btn-outline-info">View submission</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
{% endblock %}